@font-face {
  font-family: "murf-icon-font";
  src: url("fonts/murf-icon-font.eot?2ngkm7");
  src: url("fonts/murf-icon-font.eot?2ngkm7#iefix") format("embedded-opentype"),
    url("fonts/murf-icon-font.ttf?2ngkm7") format("truetype"),
    url("fonts/murf-icon-font.woff?2ngkm7") format("woff"),
    url("fonts/murf-icon-font.svg?2ngkm7#murf-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/*  
  Using prefix .mfi instead of .mf to avoid conflicts with other v1/v2 classes
*/

[class^="mfi-"],
[class*=" mfi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "murf-icon-font" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mfi-pronunciation:before {
  content: "\e903";
  color: #3a4358;
}
.mfi-render:before {
  content: "\e900";
  color: #3a4358;
}
.mfi-play:before {
  content: "\e901";
  color: #3a4358;
}
.mfi-music-voice:before {
  content: "\e902";
  color: #3a4358;
}
.mfi-ai-changer:before {
  content: "\e904";
  color: #3a4358;
}
.mfi-training:before {
  content: "\e905";
  color: #3a4358;
}