@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?u5u7lv');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?u5u7lv#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?u5u7lv') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?u5u7lv') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?u5u7lv##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mfi-"], [class*=" mfi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mfi-plan-enterprise {
  &:before {
    content: unquote("\"#{ $mfi-plan-enterprise }\"");     
    color: #5d677e;
  }
}
.mfi-plan-business {
  &:before {
    content: unquote("\"#{ $mfi-plan-business }\"");     
    color: #5d677e;
  }
}
.mfi-plan-creator {
  &:before {
    content: unquote("\"#{ $mfi-plan-creator }\"");     
    color: #5d677e;
  }
}
.mfi-upgrade {
  &:before {
    content: unquote("\"#{ $mfi-upgrade }\"");     
    color: #3a4358;
  }
}
.mfi-render-play {
  &:before {
    content: unquote("\"#{ $mfi-render-play }\"");     
    color: #3a4358;
  }
}
.mfi-play {
  &:before {
    content: unquote("\"#{ $mfi-play }\"");     
    color: #3a4358;
  }
}
.mfi-pronunciation {
  &:before {
    content: unquote("\"#{ $mfi-pronunciation }\"");     
    color: #3a4358;
  }
}
.mfi-ai-changer {
  &:before {
    content: unquote("\"#{ $mfi-ai-changer }\"");     
    color: #3a4358;
  }
}
.mfi-training {
  &:before {
    content: unquote("\"#{ $mfi-training }\"");     
    color: #3a4358;
  }
}
.mfi-notification {
  &:before {
    content: unquote("\"#{ $mfi-notification }\"");     
    color: #3a4358;
  }
}
.mfi-folder-locked-closed {
  &:before {
    content: unquote("\"#{ $mfi-folder-locked-closed }\"");     
    color: #3a4358;
  }
}
.mfi-folder-add {
  &:before {
    content: unquote("\"#{ $mfi-folder-add }\"");     
    color: #3a4358;
  }
}
.mfi-folder-locked-opened {
  &:before {
    content: unquote("\"#{ $mfi-folder-locked-opened }\"");     
    color: #3a4358;
  }
}
.mfi-folder-opened {
  &:before {
    content: unquote("\"#{ $mfi-folder-opened }\"");     
    color: #3a4358;
  }
}
.mfi-folder-closed {
  &:before {
    content: unquote("\"#{ $mfi-folder-closed }\"");     
    color: #3a4358;
  }
}
.mfi-upgrade-2 {
  &:before {
    content: unquote("\"#{ $mfi-upgrade-2 }\"");     
    color: #3a4358;
  }
}
.mfi-unlinked {
  &:before {
    content: unquote("\"#{ $mfi-unlinked }\"");     
    color: #3a4358;
  }
}
.mfi-resize-horizontal {
  &:before {
    content: unquote("\"#{ $mfi-resize-horizontal }\"");     
    color: #3a4358;
  }
}
.mfi-emphasis {
  &:before {
    content: unquote("\"#{ $mfi-emphasis }\"");     
    color: #3a4358;
  }
}
.mfi-slow {
  &:before {
    content: unquote("\"#{ $mfi-slow }\"");     
    color: #3a4358;
  }
}
.mfi-fast {
  &:before {
    content: unquote("\"#{ $mfi-fast }\"");     
    color: #3a4358;
  }
}
.mfi-low-pitch {
  &:before {
    content: unquote("\"#{ $mfi-low-pitch }\"");     
    color: #3a4358;
  }
}
.mfi-high-pitch {
  &:before {
    content: unquote("\"#{ $mfi-high-pitch }\"");     
    color: #3a4358;
  }
}
.mfi-low-pitch-2 {
  &:before {
    content: unquote("\"#{ $mfi-low-pitch-2 }\"");     
    color: #3a4358;
  }
}
.mfi-high-pitch-2 {
  &:before {
    content: unquote("\"#{ $mfi-high-pitch-2 }\"");     
    color: #3a4358;
  }
}
.mfi-icon-backup-reset {
  &:before {
    content: unquote("\"#{ $mfi-icon-backup-reset }\"");     
    color: #3a4358;
  }
}
.mfi-icon-reset {
  &:before {
    content: unquote("\"#{ $mfi-icon-reset }\"");     
    color: #3a4358;
  }
}
.mfi-music-voice {
  &:before {
    content: unquote("\"#{ $mfi-music-voice }\"");     
    color: #3a4358;
  }
}
.mfi-no-music {
  &:before {
    content: unquote("\"#{ $mfi-no-music }\""); 
  }
}
.mfi-trim {
  &:before {
    content: unquote("\"#{ $mfi-trim }\"");     
    color: #3a4358;
  }
}
.mfi-select-frames {
  &:before {
    content: unquote("\"#{ $mfi-select-frames }\"");     
    color: #3a4358;
  }
}
.mfi-workspace {
  &:before {
    content: unquote("\"#{ $mfi-workspace }\"");     
    color: #3a4358;
  }
}

