@font-face {
  font-family: 'murf-icon-font';
  src:  url('fonts/murf-icon-font.eot?u5u7lv');
  src:  url('fonts/murf-icon-font.eot?u5u7lv#iefix') format('embedded-opentype'),
    url('fonts/murf-icon-font.ttf?u5u7lv') format('truetype'),
    url('fonts/murf-icon-font.woff?u5u7lv') format('woff'),
    url('fonts/murf-icon-font.svg?u5u7lv#murf-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mfi-"], [class*=" mfi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'murf-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mfi-plan-enterprise:before {
  content: "\e91d";
  color: #5d677e;
}
.mfi-plan-business:before {
  content: "\e91e";
  color: #5d677e;
}
.mfi-plan-creator:before {
  content: "\e91f";
  color: #5d677e;
}
.mfi-upgrade:before {
  content: "\e91c";
  color: #3a4358;
}
.mfi-render-play:before {
  content: "\e900";
  color: #3a4358;
}
.mfi-play:before {
  content: "\e901";
  color: #3a4358;
}
.mfi-pronunciation:before {
  content: "\e902";
  color: #3a4358;
}
.mfi-ai-changer:before {
  content: "\e903";
  color: #3a4358;
}
.mfi-training:before {
  content: "\e904";
  color: #3a4358;
}
.mfi-notification:before {
  content: "\e905";
  color: #3a4358;
}
.mfi-folder-locked-closed:before {
  content: "\e906";
  color: #3a4358;
}
.mfi-folder-add:before {
  content: "\e907";
  color: #3a4358;
}
.mfi-folder-locked-opened:before {
  content: "\e908";
  color: #3a4358;
}
.mfi-folder-opened:before {
  content: "\e909";
  color: #3a4358;
}
.mfi-folder-closed:before {
  content: "\e90a";
  color: #3a4358;
}
.mfi-upgrade-2:before {
  content: "\e90b";
  color: #3a4358;
}
.mfi-unlinked:before {
  content: "\e90c";
  color: #3a4358;
}
.mfi-resize-horizontal:before {
  content: "\e90d";
  color: #3a4358;
}
.mfi-emphasis:before {
  content: "\e90e";
  color: #3a4358;
}
.mfi-slow:before {
  content: "\e90f";
  color: #3a4358;
}
.mfi-fast:before {
  content: "\e910";
  color: #3a4358;
}
.mfi-low-pitch:before {
  content: "\e911";
  color: #3a4358;
}
.mfi-high-pitch:before {
  content: "\e912";
  color: #3a4358;
}
.mfi-low-pitch-2:before {
  content: "\e913";
  color: #3a4358;
}
.mfi-high-pitch-2:before {
  content: "\e914";
  color: #3a4358;
}
.mfi-icon-backup-reset:before {
  content: "\e915";
  color: #3a4358;
}
.mfi-icon-reset:before {
  content: "\e916";
  color: #3a4358;
}
.mfi-music-voice:before {
  content: "\e917";
  color: #3a4358;
}
.mfi-no-music:before {
  content: "\e918";
}
.mfi-trim:before {
  content: "\e919";
  color: #3a4358;
}
.mfi-select-frames:before {
  content: "\e91a";
  color: #3a4358;
}
.mfi-workspace:before {
  content: "\e91b";
  color: #3a4358;
}
