$icomoon-font-family: "murf-icon-font" !default;
$icomoon-font-path: "fonts" !default;

$mfi-presentation: "\e905";
$mfi-notification: "\e906";
$mfi-folder-locked-closed: "\e907";
$mfi-folder-add: "\e908";
$mfi-folder-locked-open: "\e909";
$mfi-folder-open: "\e90a";
$mfi-folder-closed: "\e90b";
$mfi-verified-check: "\e90c";
$mfi-delink: "\e90d";
$mfi-pronunciation: "\e903";
$mfi-render: "\e900";
$mfi-play: "\e901";
$mfi-music-voice: "\e902";
$mfi-ai-changer: "\e904";
$mfi-rocket_circle: "\e90e";
$mfi-resize: "\e90f";
$mfi-rocket_circle1: "\e910";

