$icomoon-font-family: "murf-icon-font" !default;
$icomoon-font-path: "fonts" !default;

$mfi-intonation: unquote('"\\e920"');
$mfi-plan-enterprise: unquote('"\\e91d"');
$mfi-plan-business: unquote('"\\e91e"');
$mfi-plan-creator: unquote('"\\e91f"');
$mfi-upgrade: unquote('"\\e91c"');
$mfi-render-play: unquote('"\\e900"');
$mfi-play: unquote('"\\e901"');
$mfi-pronunciation: unquote('"\\e902"');
$mfi-ai-changer: unquote('"\\e903"');
$mfi-training: unquote('"\\e904"');
$mfi-notification: unquote('"\\e905"');
$mfi-folder-locked-closed: unquote('"\\e906"');
$mfi-folder-add: unquote('"\\e907"');
$mfi-folder-locked-opened: unquote('"\\e908"');
$mfi-folder-opened: unquote('"\\e909"');
$mfi-folder-closed: unquote('"\\e90a"');
$mfi-upgrade-2: unquote('"\\e90b"');
$mfi-unlinked: unquote('"\\e90c"');
$mfi-resize-horizontal: unquote('"\\e90d"');
$mfi-emphasis: unquote('"\\e90e"');
$mfi-slow: unquote('"\\e90f"');
$mfi-fast: unquote('"\\e910"');
$mfi-low-pitch: unquote('"\\e911"');
$mfi-high-pitch: unquote('"\\e912"');
$mfi-low-pitch-2: unquote('"\\e913"');
$mfi-high-pitch-2: unquote('"\\e914"');
$mfi-icon-backup-reset: unquote('"\\e915"');
$mfi-icon-reset: unquote('"\\e916"');
$mfi-music-voice: unquote('"\\e917"');
$mfi-no-music: unquote('"\\e918"');
$mfi-trim: unquote('"\\e919"');
$mfi-select-frames: unquote('"\\e91a"');
$mfi-workspace: unquote('"\\e91b"');

