$icomoon-font-family: "murf-icon-font" !default;
$icomoon-font-path: "fonts" !default;

$mfi-upgrade: "\e91c";
$mfi-render-play: "\e900";
$mfi-play: "\e901";
$mfi-pronunciation: "\e902";
$mfi-ai-changer: "\e903";
$mfi-training: "\e904";
$mfi-notification: "\e905";
$mfi-folder-locked-closed: "\e906";
$mfi-folder-add: "\e907";
$mfi-folder-locked-opened: "\e908";
$mfi-folder-opened: "\e909";
$mfi-folder-closed: "\e90a";
$mfi-upgrade-2: "\e90b";
$mfi-unlinked: "\e90c";
$mfi-resize-horizontal: "\e90d";
$mfi-emphasis: "\e90e";
$mfi-slow: "\e90f";
$mfi-fast: "\e910";
$mfi-low-pitch: "\e911";
$mfi-high-pitch: "\e912";
$mfi-low-pitch-2: "\e913";
$mfi-high-pitch-2: "\e914";
$mfi-icon-backup-reset: "\e915";
$mfi-icon-reset: "\e916";
$mfi-music-voice: "\e917";
$mfi-no-music: "\e918";
$mfi-trim: "\e919";
$mfi-select-frames: "\e91a";
$mfi-workspace: "\e91b";

